$dark: #2d343e;
$yellow: yellow;
$white: white;

.dropdown-menu{
    &.show{
        border: 0px;
    }
}
.navbar-toggler{
    border: 0px!important;
    color: $white;
    &:hover{
        cursor: pointer;
    }
}

.text-yellow{
    color: $yellow;
}

.app{
    min-height: 100vh;
    background-color: $dark;
    a{
        color: $white;
    }
    p{
        color: $white;
    }
    .navbar{
        color: $white;
        .nav-link{
            color: $white!important;
            &:hover{
                color: $yellow!important;
            }
        }
        
        .dropdown-menu{
            background-color: $dark;
            a{
                color: $white;
            }
            .dropdown-item{
                &:hover{
                    background-color: $dark;
                    color: $yellow;
                }
                &.active{
                    background-color: $dark;
                    color: $yellow;
                }
            }
        }
    }
}

.collapse-accordion-button{
    color: white!important;
    font-size: 1.5rem!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    display: flex!important;
    align-items: center;
    span{
        font-size: 0.7rem!important;
        text-align: center;
        margin-right: 8px;
    }
}